<a href="https://colab.research.google.com/github/eecastillo/parkinson_analisis/blob/master/notebooks/Parkinson_regresion_polinomial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplo 02

En este ejemplo crearemos un sistema de regresión polinomial: Utilizaremos los grados de un polinomio para curvear la línea (o el plano) y evaluar que tal mejora una predicción

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [2]:
df = pd.read_csv('./parkinson_dataset.csv')
X = df.drop(columns=['class_information','ID'])
y = df['class_information']

In [3]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3,random_state=109) # 70% training and 30% test

### Ejemplo lineal:
Primero probaremos con predicciones lineales

In [4]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.19993826019373395
Pruebas: MSE =0.22709985733760304

   valor_real  prediccion  diferencia
0           0    0.604743   -0.604743
1           1   -0.062804    1.062804
2           1    0.866295    0.133705
3           1    0.757655    0.242345
4           1    0.752751    0.247249
5           0    0.691031   -0.691031
6           1    0.729811    0.270189
7           1    0.697260    0.302740
8           1    0.588894    0.411106
9           0    0.253628   -0.253628

### Ejemplo de polinomio de grado 2
Ahora probaremos con un polinomio de grado 2

In [5]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=2)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.12707626713408088
Pruebas: MSE =1.2024906698176323

   valor_real  prediccion  diferencia
0           0    0.543867   -0.543867
1           1    1.577520   -0.577520
2           1    0.795817    0.204183
3           1    1.097428   -0.097428
4           1    0.800766    0.199234
5           0    0.594406   -0.594406
6           1    0.998834    0.001166
7           1    1.080231   -0.080231
8           1    0.648985    0.351015
9           0    0.588169   -0.588169